.movie-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(19, 18, 18, 0.37);
    border-radius: 10px;
    padding: 2px; */
    max-width: 90%; /* Set a maximum width */
  
}

.poster-container {
  display: inline;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}

.movie-poster {
  width: 150px;
  height: 250px;
  margin: 10px;
  /* border: 1px solid rgba(218, 165, 32, 0.9); */
  border-radius: 5px;
  object-fit: cover;

}

.movie-poster:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-out
  
}

.movie-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.movie-overview {
  position: absolute;
  font-size: 0.85rem;
}

h4 {
  color: rgb(131, 129, 129);
  size: 2rem;
  margin-left: 10px;
}

.movie-title {
  color: rgb(131, 129, 129);
  size: 1rem;
  ;
}
/* Horizontal Rule */
hr {
  position: relative;
  border: 1px solid rgba(218, 165, 32, 0.9);
  width: 0;
  margin-left: 10px;
  margin-right: 10px;
  animation: expand 1s ease forwards;
}


/* Animation */

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 96%;
    }
}
