:root {
    --primary-color: black;
    --secondary-color: white;
    --accent-color: gold;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

button {
    background-color: var(--accent-color);
    margin-left: 5px;
    border-radius: 50px;
    width: 100px;
}