:root {
    --primary-color: #f1c40f;
    --secondary-color: #ffffff;
}

.hero-section {
    background-image: url('https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg');
    background-size: cover;
    image-resolution: from-image;
    display: inline-block;
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(100%);
    /* Add more effects here */
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;

}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: black;

}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-color);
}

.btn-primary:active {
    transform: scale(0.9);
    color: darkorchid;
}

.btn-dark {
    background-color: black;
    color: white;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

h1, p {
    color: var(--secondary-color);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}